<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="TISFAT_Zero.Properties.User" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
	</startup>
 <userSettings>
  <TISFAT_Zero.Properties.User>
   <setting name="CanvasSize" serializeAs="String">
    <value>460, 360</value>
   </setting>
   <setting name="CanvasColor" serializeAs="String">
    <value>White</value>
   </setting>
   <setting name="autoCheck" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="buildsInstalled" serializeAs="String">
    <value />
   </setting>
   <setting name="buildLocations" serializeAs="String">
    <value />
   </setting>
   <setting name="selectedBuilds" serializeAs="String">
    <value />
   </setting>
   <setting name="DefaultSavePath" serializeAs="String">
    <value>%userprofile%\My Documents\TISFAT</value>
   </setting>
   <setting name="theme" serializeAs="String">
    <value>200 190 245 255 0 0 170 170 170 255 0 0 70 120 255 0 0 0 0 0 0 255 255 255 255 0 0 220 220 220 255 0 0 40 230 255 255 192 203 0 0 0 140 140 140 200 200 200 30 100 255</value>
   </setting>
  </TISFAT_Zero.Properties.User>
 </userSettings>
</configuration>