<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="TISFAT_ZERO.Properties.User" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="TISFAT_ZERO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <TISFAT_ZERO.Properties.User>
            <setting name="DefaultSavePath" serializeAs="String">
                <value>%userprofile%\My Documents\TISFAT</value>
            </setting>
            <setting name="CanvasSize" serializeAs="String">
                <value>460, 360</value>
            </setting>
            <setting name="CanvasColor" serializeAs="String">
                <value>White</value>
            </setting>
        </TISFAT_ZERO.Properties.User>
        <TISFAT_ZERO.Properties.Settings>
            <setting name="DefaultSavePath" serializeAs="String">
                <value>%userprofile%\My Documents\TISFAT</value>
            </setting>
            <setting name="CanvasSize" serializeAs="String">
                <value>460, 360</value>
            </setting>
            <setting name="CanvasColor" serializeAs="String">
                <value>White</value>
            </setting>
        </TISFAT_ZERO.Properties.Settings>
    </userSettings>
</configuration>
